<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inkstage.mapper.ArticleLikeMapper">
    
    <!-- 插入点赞记录 -->
    <insert id="insert" parameterType="com.inkstage.entity.model.ArticleLike" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article_like (article_id, user_id, create_time, update_time, deleted, deleted_time)
        VALUES (#{articleId}, #{userId}, #{createTime}, #{updateTime}, #{deleted}, #{deletedTime})
    </insert>
    
    <!-- 根据文章ID和用户ID删除点赞记录 -->
    <delete id="deleteByArticleIdAndUserId">
        DELETE FROM article_like
        WHERE article_id = #{articleId} AND user_id = #{userId}
    </delete>
    
    <!-- 根据文章ID和用户ID查询点赞记录数 -->
    <select id="countByArticleIdAndUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM article_like
        WHERE article_id = #{articleId} AND user_id = #{userId}
    </select>
    
</mapper>