<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inkstage.mapper.UserAuthMapper">

    <!-- 结果映射 -->
    <resultMap id="ResultMap" type="com.inkstage.entity.model.UserAuth">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="auth_type" property="authType"/>
        <result column="auth_identifier" property="authIdentifier"/>
        <result column="auth_credential" property="authCredential"/>
        <result column="primary_auth" property="primaryAuth" javaType="com.inkstage.enums.DefaultStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted" javaType="com.inkstage.enums.DeleteStatus"/>
    </resultMap>

    <!-- 新增用户认证 -->
    <insert id="insert" parameterType="com.inkstage.entity.model.UserAuth" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_auth (
        user_id, auth_type, auth_identifier, auth_credential,
        create_time, update_time, deleted
        ) VALUES (
        #{userId}, #{authType}, #{authIdentifier}, #{authCredential},
        #{createTime}, #{updateTime}, #{deleted}
        )
    </insert>
</mapper>